* {
    margin: 0;
    padding: 0;
}

#bienvenida {
    display: flex;
    text-align: start;
    justify-content: center;
}
#desafio1 {
    width:100%;
    display: flex;
    justify-content: center;
}
#gente {
    position: center;
    width: 500px;
    filter: grayscale(1);
    transition: filter 0.5s ease-out;
}
#gente:hover {
    filter: grayscale(0);
}

/*SEGUNDA PAGINA*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin: 3rem;
}
.opcion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}
.album {
    width: 400px;
}
input {
    width: 100px;
}